@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,600&display=swap');

// COLORS
$color-peach: #FEC89A;
$color-green: #C3E6B7;
$color-champagne: #F9DCC4;
$color-seashell: #F8EDEB;
$color-black: #181F25;
$color-white: #FFFFFF;

// SHARED
.padding-15 {
  padding: 0 15px;
}

.image-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.button-full {
  background-color: $color-green;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 7px 18px;
  color: black;
  text-decoration: none;
  font-weight: 400;
  width: fit-content;

  &_arrow-icon {
    height: 16px;
    width: auto;
    margin-left: 7px;
    img {
      height: 100%;
      width: auto;
    }
  }
}

.inline-link-black {
  font-weight: 500;
  color: $color-black;
}

.section-title {
  color: $color-peach;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}


* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
}

.nav {
  background-color: $color-champagne;
  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;

  &-wrapper {
    padding: 0 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo,
  &-menu {
    height: 25px;
    width: auto;

    img {
      height: 100%;
      width: auto;
    }
  }
}

// HOME PAGE
.home {
  &__header {
    background-image: linear-gradient(
        rgba(24, 31, 37, 0.3), 
        rgba(24, 31, 37, 0.3)
      ), url(/images/hero-sand-min.jpg);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  
    &-logo {
      width: 250px;
      height: auto;
      margin-top: 50px;
  
      img {
        width: 100%;
        height: auto;
      }
    }
  
    &-h1 {
      color: $color-white;
      font-size: 28px;
      font-weight: 500;
      text-align: center;
      margin: 30px 0;
    }
  }

  &__about {
    background-color: $color-peach;

    &-wrapper {
      margin-top: 30px;
    }
    &-img {
      width: 100%;
      height: 300px;
      border-radius: 7px;
      background-image: url(images/sophie-portrait-placeholder.jpg);
    }
    &-text {
      padding: 15px;
    }
  }

  &__offer {
    background-color: $color-seashell;
    padding: 50px 0 30px 0;

    &-card {
      position: relative;
      margin: 0 15px;
      &-wrapper {
        width: 100%;
        margin-bottom: 50px;
      }
      &-img {
        border-radius: 10px;
        width: 60%;
        height: 130px;
        margin: auto 0;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        &-1 {
          background-image: url(images/behandlung-seerose.jpg);
        }
        &-2 {
          background-image: url(images/aetherischeoele-bottles-min.jpg);
        }
        &-3 {
          background-image: url(images/alltag-shelf-min.jpg);
        }
        &-4 {
          background-image: url(images/schwanger-gaensebluemchen-min.jpg);
        }
        &-5 {
          background-image: url(images/schwanger-kerzen-min.jpg);
        }
        &-6 {
          background-image: url(images/hero-sand-min.jpg);
        }
        
      }
      &-body {
        background-color: $color-white;
        margin-top: 75px;
        padding: 75px 15px 30px 15px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-title {
        color: $color-peach;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
      }
      &-text {
        margin: 15px 15px 30px 15px;
      }
    }
  }

  &__kontakt {
    margin-top: 50px;

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &-wrapper {
        display: flex;
        flex-direction: column;
        margin: 30px 15px;
      }
      &-icon {
        width: 16px;
        height: auto;
        margin-right: 10px;
        margin-top: 4px;
        img {
          width: 100%;
          height: auto;
        }
      }
      &-info { 
        margin-bottom: 0;

        &-link {
          color: $color-green;
          text-decoration: none;
        }
      }
    }
  }
}

.footer {
  background-color: $color-black;
  padding: 30px;
  margin-top: -5px;

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-links {
    &-wrapper {
      display: flex;
      flex-direction: column;
    }
    &-item {
      color: $color-green;
      text-decoration: none;
      margin-bottom: 15px;
      font-size: 12px;
    }
  }

  &-logo {
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &-ss {
      width: 45px;
      height: auto;
      margin-bottom: 15px;
      img {
        width: 100%;
        height: auto;
      }
    }
    &-doterra {
      width: 155px;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &-copyright {
    font-size: 12px;
    color: $color-champagne;
    text-align: center;
    margin-top: 30px;
  }
}
