@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,600&display=swap");
.container {
  max-width: 1157px;
  margin: 0 auto;
}

.padding-15 {
  padding: 0 15px;
}

.image-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.button-full,
.button-full-sm {
  background-color: #C3E6B7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #181F25;
  text-decoration: none;
  font-weight: 400;
  width: fit-content;
}
.button-full_arrow-icon,
.button-full-sm_arrow-icon {
  width: auto;
  margin-left: 7px;
}
.button-full_arrow-icon img,
.button-full-sm_arrow-icon img {
  height: 100%;
  width: auto;
}

.button-full {
  padding: 7px 18px;
}
.button-full_arrow-icon img {
  height: 16px;
}

.button-full-sm {
  padding: 5px 12px;
  font-size: 12px;
  font-weight: 500;
}
.button-full-sm_arrow-icon img {
  height: 10px;
}

.inline-link-black {
  font-weight: 500;
  color: #181F25;
}

.section-title {
  color: #FEC89A;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.page-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  height: 260px;
  position: relative;
}
.page-header-h1 {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
  max-width: 260px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
@media (min-width: 768px) {
  .page-header-h1 {
    font-size: 48px;
    max-width: unset;
  }
}
.page-header-offers {
  background-image: linear-gradient(rgba(24, 31, 37, 0.6), rgba(24, 31, 37, 0.6)), url(/images/behandlung-seerose.jpg);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
}

.nav {
  background-color: #F9DCC4;
  width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 3;
}
.nav-wrapper {
  padding: 0 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo, .nav-menu {
  height: 25px;
  width: auto;
}
.nav-logo img, .nav-menu img {
  height: 100%;
  width: auto;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  list-style: none;
  top: -420px;
  left: 0;
  align-items: flex-end;
  padding: 10px 20px 20px 0;
  width: 100%;
  height: auto;
  background-color: #F8EDEB;
  z-index: 2;
  transition: all 0.55s ease-in-out;
  box-shadow: 1px 3px 7px rgba(24, 31, 37, 0.3);
}
@media (min-width: 768px) {
  .nav-menu {
    align-items: center;
  }
}

.nav-menu.active {
  top: 40px;
}

.nav-item {
  margin: 10px 0;
}

.nav-menu a {
  color: #181F25;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

.hamburger {
  /*hamburger menu*/
  cursor: pointer;
  z-index: 3;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #181F25;
  margin: 5px 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.home__header {
  background-image: linear-gradient(rgba(24, 31, 37, 0.3), rgba(24, 31, 37, 0.3)), url(/images/hero-sand-min.jpg);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.home__header-logo {
  width: 250px;
  height: auto;
  margin-top: 50px;
}
.home__header-logo img {
  width: 100%;
  height: auto;
}
.home__header-h1 {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin: 30px 0;
  max-width: 260px;
}
@media (min-width: 768px) {
  .home__header-h1 {
    font-size: 48px;
    max-width: unset;
  }
}
.home__about {
  background-color: #FEC89A;
}
.home__about-wrapper {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .home__about-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
}
.home__about-img {
  width: 100%;
  height: 300px;
  border-radius: 7px;
  background-image: url(images/sophie-portrait-placeholder.jpg);
}
@media (min-width: 768px) {
  .home__about-img {
    width: 40%;
    margin-bottom: 30px;
  }
}
.home__about-text {
  padding: 15px;
}
@media (min-width: 768px) {
  .home__about-text {
    width: 40%;
  }
}
.home__offer {
  background-color: #F8EDEB;
  padding: 50px 0 30px 0;
}
.home__offer-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.home__offer-card {
  position: relative;
  margin: 0 15px;
}
.home__offer-card-wrapper {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .home__offer-card-wrapper {
    width: 33.3333333333%;
  }
}
.home__offer-card-img {
  border-radius: 10px;
  width: 60%;
  height: 130px;
  margin: auto 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.home__offer-card-img-1 {
  background-image: url(images/behandlung-seerose.jpg);
}
.home__offer-card-img-2 {
  background-image: url(images/aetherischeoele-bottles-min.jpg);
}
.home__offer-card-img-3 {
  background-image: url(images/alltag-shelf-min.jpg);
}
.home__offer-card-img-4 {
  background-image: url(images/schwanger-gaensebluemchen-min.jpg);
}
.home__offer-card-img-5 {
  background-image: url(images/schwanger-kerzen-min.jpg);
}
.home__offer-card-img-6 {
  background-image: url(images/hero-sand-min.jpg);
}
.home__offer-card-body {
  background-color: #FFFFFF;
  margin-top: 75px;
  padding: 75px 15px 30px 15px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__offer-card-title {
  color: #FEC89A;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.home__offer-card-text {
  margin: 15px 15px 30px 15px;
}
.home__kontakt {
  margin-top: 50px;
}
.home__kontakt-title {
  color: #FEC89A;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
@media (min-width: 768px) {
  .home__kontakt-title {
    font-size: 48px;
  }
}
@media (min-width: 768px) {
  .home__kontakt-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.home__kontakt-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.home__kontakt-item-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px 15px;
}
.home__kontakt-item-icon {
  width: 16px;
  height: auto;
  margin-right: 10px;
  margin-top: 4px;
}
.home__kontakt-item-icon img {
  width: 100%;
  height: auto;
}
.home__kontakt-item-info {
  margin-bottom: 0;
}
.home__kontakt-item-info-link {
  color: #C3E6B7;
  text-decoration: none;
}
.home__kontakt-img {
  width: 100%;
  height: 300px;
  border-radius: 7px;
  background-image: url(images/sophie-portrait-placeholder.jpg);
}
@media (min-width: 768px) {
  .home__kontakt-img {
    width: 40%;
    margin-bottom: 30px;
  }
}

.products-overview {
  background-color: #F8EDEB;
  padding: 30px 0;
}
.products-overview-card {
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 15px 30px;
  margin: 15px 15px 30px 15px;
}
.products-overview-card-title {
  color: #FEC89A;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}
.products-overview-card-booking-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.products-overview-card-booking-details {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: baseline;
}
.products-overview-card-booking-details-bar {
  display: inline-flex;
  border-top: 1px dotted #181F25;
  flex-grow: 1;
  margin: 0 5px;
}

.footer {
  background-color: #181F25;
  padding: 30px;
  margin-top: -5px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-links-wrapper {
  display: flex;
  flex-direction: column;
}
.footer-links-item {
  color: #C3E6B7;
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 12px;
}
.footer-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-logo-ss {
  width: 45px;
  height: auto;
  margin-bottom: 15px;
}
.footer-logo-ss img {
  width: 100%;
  height: auto;
}
.footer-logo-doterra {
  width: 155px;
  height: auto;
}
.footer-logo-doterra img {
  width: 100%;
  height: auto;
}
.footer-copyright {
  font-size: 12px;
  color: #F9DCC4;
  text-align: center;
  margin-top: 30px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22main.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAQ;AAcR;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;;;AAGF;AAAA;EAEE,kBA3BY;EA4BZ;EACA;EACA;EACA;EACA,OA7BY;EA8BZ;EACA;EACA;;AAEA;AAAA;EACE;EACA;;AACA;AAAA;EACE;EACA;;;AAKN;EACE;;AAEA;EACE;;;AAIJ;EACE;EACA;EACA;;AAEA;EACE;;;AAIJ;EACE;EACA,OAhEY;;;AAmEd;EACE,OAxEY;EAyEZ;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE,OAnFU;EAoFV;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EAZF;IAaI;IACA;;;AAIJ;EACE;;;AAQJ;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE,kBA1HgB;EA2HhB;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAEF;EAEE;EACA;;AAEA;EACE;EACA;;;AAKN;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA,kBA/Je;EAgKf;EACA;EACA;;AAEA;EAhBF;IAiBI;;;;AAGJ;EACE;;;AAEF;EACE;;;AAEF;EACE,OA9KY;EA+KZ;EACA;EACA;;;AAGF;AACE;EACA;EACA;;;AAEF;EACE;EACA;EACA;EACA,kBA7LY;EA8LZ;EACA;EACA;;;AAEF;EACE;;;AAEF;EACE;;;AAEF;EACE;;;AAKA;EACE;EAIA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAEA;EACE;EACA;;AAIJ;EACE,OApOQ;EAqOR;EACA;EACA;EACA;EACA;;AAEA;EARF;IASI;IACA;;;AAKN;EACE,kBAxPU;;AA0PV;EACE;;AAEA;EAHF;IAII;IACA;IACA;IACA;;;AAGJ;EACE;EACA;EACA;EACA;;AAEA;EANF;IAOI;IACA;;;AAGJ;EACE;;AACA;EAFF;IAGI;;;AAKN;EACE,kBArRa;EAsRb;;AAEA;EACE;EACA;;AAGF;EACE;EACA;;AAEA;EACE;EACA;;AAEA;EAJF;IAKI;;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAEF;EACE;;AAEF;EACE;;AAEF;EACE;;AAEF;EACE;;AAEF;EACE;;AAIJ;EACE,kBAvUM;EAwUN;EACA;EACA;EACA;EACA;EACA;;AAEF;EACE,OArVM;EAsVN;EACA;EACA;;AAEF;EACE;;AAKN;EACE;;AAEA;EACE,OApWQ;EAqWR;EACA;EACA;;AAEA;EANF;IAOI;;;AAKF;EADF;IAEI;IACA;IACA;;;AAIJ;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;;AACA;EACE;EACA;;AAGJ;EACE;;AAEA;EACE,OA9YI;EA+YJ;;AAKN;EACE;EACA;EACA;EACA;;AAEA;EANF;IAOI;IACA;;;;AAMR;EACE,kBAjae;EAkaf;;AAEA;EACE,kBAnaU;EAoaV;EACA;EACA;;AAEA;EACE,OA9aQ;EA+aR;EACA;EACA;EACA;;AAIA;EACE;EACA;EACA;EACA;;AAEF;EACE;EACA;EACA;EACA;EACA;;AACA;EACE;EACA;EACA;EACA;;;AAOV;EACE,kBA1cY;EA2cZ;EACA;;AAEA;EACE;EACA;;AAIA;EACE;EACA;;AAEF;EACE,OA5dQ;EA6dR;EACA;EACA;;AAKF;EACE;EACA;EACA;;AAEF;EACE;EACA;EACA;;AACA;EACE;EACA;;AAGJ;EACE;EACA;;AACA;EACE;EACA;;AAIN;EACE;EACA,OA5fc;EA6fd;EACA%22,%22file%22:%22style.css%22%7D */
